<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" [ngClass]="{'scrolled-navbar navbar-dark bg-dark': scrolled || type}" id="mainNav">
  <div class="container">
      <a class="navbar-brand js-scroll-trigger navbard-head-brand" [routerLink]="'/landing'">HOTEL METASPHERE</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto my-2 my-lg-0">
              <li class="nav-item my-auto" *ngFor="let menu of menus"><a class="nav-link js-scroll-trigger text-uppercase" [routerLink]="[ setMenuRoute(menu) ]" >{{ menu.name }}</a></li>
              <!-- <li class="nav-item"><a class="nav-link js-scroll-trigger">SELF-SERVICE</a></li> -->
              <li class="nav-item dropdown" *ngIf="state==='my-experience'">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="https://picsum.photos/id/237/200/300" width="40" height="40" class="rounded-circle">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a (click)="logout()" class="dropdown-item dp-item">Log Out</a>
                </div>
              </li>
          </ul>
      </div>
  </div>
</nav>

