.cover-bg {
    padding-top: calc(28rem + 74px);
    padding-bottom: 6rem;
  }

  .masthead {
    height: 100vh;
    padding-top: 0.5rem;
    padding-bottom: 6rem;
    text-align: center;
    background-image: linear-gradient(
      rgba(235, 229, 229, 0.3),
      rgba(235, 229, 229, 0.3)
    ), url('../../../../../../assets/images/my_experience_-_log-in_screen/u28.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }

  .img-fluid {
    height: 400px !important;
    width: 100% !important;
  }

  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 1000px) {
    .masthead {
      padding-top: 10.5rem;
      padding-bottom: 12rem;
    }
  }

  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .masthead {
      padding-top: 10.5rem;
      padding-bottom: 15rem;
    }

    .img-fluid {
      height: 300px !important;
    }
  }

  .btn{
    border-radius: 0px;
  }

  .white-text{
    color:white;
  }
