
<div class="container mt-2">
  <div class="title-section mt-3">
    <div class="my-auto py-2">
      <h2>Hey, Look at these sizzling hot deals!</h2>
      <h6 class="mb-0">We are currently running at 10% promotion on our tasty hamburgers.</h6>
    </div>
  </div>
  <div class="cards-section mt-4 pb-5 card-columns"
  infinite-scroll
  [infiniteScrollDistance]="scrollDistance"
  [infiniteScrollUpDistance]="scrollUpDistance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScrollDown($event)">
    <app-fb-item-cards class="" *ngFor="let item of arrayItems" [data]="item"></app-fb-item-cards>
  </div>
</div>
