<app-public-header state="my-experience"></app-public-header>
<div class="h-100">
   <!-- Head-->
   <header class="masthead">
      <div class="container">
        <div class="row">
          <div class="col-8 col-sm-5 col-md-6 col-lg-6 align-self-end mt-5">
              <h1 class="font-weight-bold mt-5">Dear Andersson,</h1>
              <p class="col-12 px-0 font-weight-light mt-4">We will do our utmost to deliver you an unparalled service. Please enjoy these specially curated services for you.</p>
              <p class="col-6 px-0 font-weight-bolder mt-4">Warmest regards from our General Manager,</p>
              <p><i>Jean Bouverville</i></p>
          </div>
        </div>
      </div>
    </header>
     <div class="container mt-5">
        <div class="row">
          <div class="col-12 mb-1">
            <h4 class="font-weight-bold"><u>Availab</u>le Services</h4>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-2 mt-lg-4">
              <a class="btn btn-primary btn-xl w-100 p-3 mx-0 neon-green" (click)="openMenu()">Order</a>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-2 mt-lg-4">
              <a class="btn btn-primary btn-xl w-100 p-3 mx-0 blue">(Other Product)</a>
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 mb-1">
            <h4 class="font-weight-bold"><u>Promot</u>ions</h4>
          </div>
          <div class="col-12 mb-4">
              <a class="btn btn-primary btn-xl w-100 p-5 mx-0 white-text discount">
                <h3>10% DISCOUNTS</h3>
                <h6>Enjoy a 10% Discount on food and beverage</h6>
              </a>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
