
 <app-public-header></app-public-header>
 <!--<div class="h-100">
   <div class="masthead">
     <div class="container mt-2">
       <img src="" alt="">
     </div>
   </div>
 </div> -->
 <div class="d-lg-flex half masthead">
   <div class="bg order-1" style="background-image: url('assets/images/self-service_-_page_1/u696.jpg');"></div>
   <div class="contents order-2">

     <div class="container">
       <div class="row align-items-center justify-content-center">
         <div class="col-md-8">
          <h5 class="px-4">Pre-checkin</h5>
          <p class="sub-text px-4">{{ stepperMessage }}</p>
          <ng-stepper #cdkStepper [linear]="true" (selectionChange)="onStepChange($event)">
            <cdk-step [stepControl]="stepOne.stepOneForm" [optional]="false">
              <ng-template cdkStepLabel>
                <div class="step-bullet"></div>
              </ng-template>
              <app-step-one #stepOne></app-step-one>
            </cdk-step>

            <cdk-step [stepControl]="stepTwo.stepTwoForm" [optional]="false">
              <ng-template cdkStepLabel>
                <div class="step-bullet"></div>
              </ng-template>
              <app-step-two #stepTwo></app-step-two>
            </cdk-step>

            <cdk-step [stepControl]="stepThree.stepThreeForm" [optional]="false">
              <ng-template cdkStepLabel>
                <div class="step-bullet"></div>
              </ng-template>
              <app-step-three #stepThree></app-step-three>
            </cdk-step>

            <cdk-step [stepControl]="stepFour.stepFourForm" [optional]="false" [state]="stepFour.state">
              <ng-template cdkStepLabel>
                <div class="step-bullet"></div>
              </ng-template>
              <app-step-four #stepFour></app-step-four>
            </cdk-step>

            <cdk-step [stepControl]="stepFive.stepFiveForm" [optional]="false" [state]="stepFive.state">
              <ng-template cdkStepLabel>
                <div class="step-bullet"></div>
              </ng-template>
              <app-step-five #stepFive></app-step-five>
            </cdk-step>

            <cdk-step [stepControl]="stepSix.stepSixForm" [optional]="false" [state]="stepSix.state">
              <ng-template cdkStepLabel>
                <div class="step-bullet"></div>
              </ng-template>
              <app-step-six #stepSix></app-step-six>
            </cdk-step>
          </ng-stepper>
         </div>
       </div>
     </div>
   </div>
 </div>
