<nav class="navbar navbar-expand-lg navbar-light py-3" id="mainNav">
  <div class="container">

    <div class="row no-gutters w-100">
    <!-- <a class="navbar-brand js-scroll-trigger" [routerLink]="'/landing'">Hotel Information</a> -->
    <div class="input-group col-lg-5 px-0 order-lg-2 order-1 mt-lg-0 mt-2 order-lg-1 order-2" *ngIf="currentRoute !== 'home' && currentRoute !== 'cart'">
      <select class="custom-select" id="gender3">
        <option [value]="type.cid" *ngFor="let type of mainCategoryService.mainCategoryData">{{ type.categoryname }}</option>
      </select>
    </div>
      <div class="nav-items ml-auto order-lg-2 order-1">
          <ul class="navbar-nav ml-auto my-2 my-lg-0">
              <li class="nav-item my-auto"><a class="nav-link js-scroll-trigger py-2" routerLinkActive="active" routerLink='home'>HOME</a></li>
              <li class="nav-item my-auto"><a class="nav-link js-scroll-trigger py-2" routerLinkActive="active" routerLink='foods'>FOODS</a></li>
              <li class="nav-item my-auto"><a class="nav-link js-scroll-trigger py-2" routerLinkActive="active" routerLink='drinks'>DRINKS</a></li>
              <li class="nav-item "><a class="nav-link js-scroll-trigger py-2 h-100 cart-item" routerLinkActive="active" routerLink='cart'><div><img class="img-fluid" src="./assets/images/u148.png" alt=""></div></a></li>
          </ul>
      </div>
    </div>
  </div>
</nav>
