
<div class="container mt-2">
    <div class="accordion" id="accordionExample">
      <div class="card" *ngFor="let service of services; let i = index">
        <div class="card-header" [id]="'label' + getHeadId(service.id)" type="button" data-toggle="collapse" [attr.data-target]="'#'+getHeadId(service.id)">
          <h2 class="mb-0 row no-gutters">
            <button class="btn btn-link">
              {{ service.name }}
            </button>
            <div class="ml-auto btn btn-link" >
              <div class="collapse " [ngClass]="{'show': i > 0}" [id]="getHeadId(service.id)">
                <i class="fas fa-angle-down" ></i>
              </div>
              <div class="collapse" [ngClass]="{'show': i === 0}" [id]="getHeadId(service.id)">
                <i class="fas fa-angle-up" ></i>
              </div>
            </div>
          </h2>
        </div>

        <div [id]="getHeadId(service.id)" class="collapse" [ngClass]="{'show': i === 0}" [attr.aria-labelledby]="'label' + getHeadId(service.id)" data-parent="#accordionExample">
          <div class="card-body">
            <div>
              {{ service.description }}
            </div>
            <div class="row no-gutters mt-4">
              <div class="col-6">
                <label class="font-weight-bold">Opening hours:</label>
                <div *ngFor="let hours of service.opening_hours">
                  {{ hours.from }} - {{ hours.to }} {{ hours.time_from }} - {{ hours.time_to }}
                </div>
              </div>
              <div>
                <label class="font-weight-bold">Floor: {{ service.floor }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
