.navbar {
  background: #008080 !important;
  .container .nav-items ul li a {
    color: #fff !important;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }
}
.active {
  background: hsl(180, 100%, 42%);
  border-radius: 3px;
  color: #fff !important;
}

#mainNav .navbar-brand {
  color: #fff !important;
}

.img-fluid {
  height: 30px;
}


@media all and (max-width: 767px) {
  .navbar-nav {
    display: flex;
    flex-direction: row;
  }
  .nav-link {
    padding: 0.5rem 1rem !important;
  }
}

