<div class="container">
  <form [formGroup]="stepFiveForm"
        #formRef="ngForm">
      <div class="form-group">
        <label class="w-100 text-center text-lg-left" for="paymentMethod">Payment Method</label>
        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="paymentType" id="paymentMethod" class="form-control" (ngModelChange)="setForm()">
          <option value="Credit Card" selected>Credit Card</option>
          <option value="Debit Card">Debit Card</option>
          <option value="Cash">Cash</option>
        </select>
      </div>
      <div *ngIf="paymentType !== 'Cash'">
        <div class="row no-gutters">
          <div class="form-group col-lg-6 col-12 pr-lg-1 pr-0">
            <label class="w-100 text-center text-lg-left" for="number">{{ paymentType }} Number</label>
            <input (keypress)="numericField($event)" formControlName="card_number" class="form-control text-center text-lg-left" id="number" placeholder="XXXX-XXXX-XXXX-XXXX">
          </div>
          <div class="form-group col-lg-2 col-4 pl-lg-1 pl-0">
            <label class="w-100 text-center text-lg-left" for="ccv">CCV</label>
            <input (keypress)="numericField($event)" formControlName="ccv" class="form-control text-center text-lg-left" id="ccv" placeholder="XXX" maxLength="3">
          </div>
        </div>
        <div class="row no-gutters">
          <div class="form-group col-lg-6 col-12 pr-lg-1 pr-0">
            <label class="w-100 text-center text-lg-left" for="issued_date">Issued Date</label>
            <input type="date" name="issued_date" formControlName="issued_date" class="form-control text-center text-lg-left" id="issued_date" placeholder="Issued Date">
          </div>
          <div class="form-group col-lg-6 col-12 pl-lg-1 pl-0">
            <label class="w-100 text-center text-lg-left" for="exp_date">Expiry Date</label>
            <input type="date" name="exp_date" formControlName="exp_date" class="form-control text-center text-lg-left" id="exp_date" placeholder="Expiry Date">
          </div>
        </div>
      </div>
      <div class="mt-4 row px-0">
        <div class="col-6 pr-0 pr-1 ">
          <button class="w-100 btn btn-secondary" cdkStepperPrevious>Back</button>
        </div>
        <div class="col-6 pl-0 pl-1 ">
          <button class="w-100 btn btn-primary" [disabled]="formErrorHandler" cdkStepperNext>Next</button>
        </div>
      </div>
  </form>
</div>
