
<div class="container">

  <form [formGroup]="stepFourForm"
        #formRef="ngForm">
      <div  formArrayName="orders" *ngFor="let item of f.controls; let i = index">
      <div class="form-group">
        <div [formGroupName]="i">
          <label class="w-100 text-center text-lg-left" for="passport1">Passport Profile Page Adult {{ i + 1 }}</label>
          <div class="row no-gutters" id="passport1" >
            <div class="col-11 my-auto pr-2">
              <div class="custom-file">
                <input type="file" class=" custom-file-input" id="customFile" (change)="handleUpload($event, i)">
                <label class="w-100 text-center text-lg-left" class="custom-file-label" for="customFile">Choose file</label>
              </div>
            </div>
            <div  (click)="openInformationDialog()" class="curs-pointer question_icon col-1 my-auto">
              <i class="far fa-question-circle"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 row px-0">
      <div class="col-6 pr-0 pr-1 ">
        <button class="w-100 btn btn-secondary" cdkStepperPrevious>Back</button>
      </div>
      <div class="col-6 pl-0 pl-1 ">
        <button class="w-100 btn btn-primary" (click)="upload()">Next</button>
      </div>
    </div>
  </form>
</div>
