
<div class="container">
  <form [formGroup]="stepFourForm"
        #formRef="ngForm">
      <div class="form-group">
        <label class="w-100 text-center text-lg-left" for="passport1">Passport Profile Page Adult 1</label>
        <div class="row no-gutters" id="passport1" >
          <div class="col-11 my-auto pr-2">
            <div class="custom-file">
              <input type="file" class=" custom-file-input" id="customFile" (change)="handleUpload($event, 'passportAdult1', 0)">
              <label class="w-100 text-center text-lg-left" class="custom-file-label" for="customFile">Choose file</label>
            </div>
          </div>
          <div  (click)="openInformationDialog()" class="curs-pointer question_icon col-1 my-auto">
            <i class="far fa-question-circle"></i>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="w-100 text-center text-lg-left" for="passport2">Passport Profile Page Adult 2</label>
        <div class="row no-gutters" id="passport2" >
          <div class="col-11 my-auto pr-2">
            <div class="custom-file" id="passport2" >
              <input type="file" class="custom-file-input" id="customFile" (change)="handleUpload($event, 'passportAdult2', 1)">
              <label class="w-100 text-center text-lg-left" class="custom-file-label" for="customFile">Choose file</label>
            </div>
          </div>
          <div  (click)="openInformationDialog()" class="curs-pointer question_icon col-1 my-auto">
            <i class="far fa-question-circle"></i>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="w-100 text-center text-lg-left" for="passport3">Passport Profile Page Child 1</label>
        <div class="row no-gutters" id="passport3" >
          <div class="col-11 my-auto pr-2">
            <div class="custom-file" id="passport3" >
              <input type="file" class="custom-file-input" id="customFile" (change)="handleUpload($event, 'passportChild1', 2)">
              <label class="w-100 text-center text-lg-left" class="custom-file-label" for="customFile">Choose file</label>
            </div>
          </div>
          <div  (click)="openInformationDialog()" class="curs-pointer question_icon col-1 my-auto">
            <i class="far fa-question-circle"></i>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="w-100 text-center text-lg-left" for="passport4">Passport Profile Page Child 2</label>
        <div class="row no-gutters" id="passport4" >
          <div class="col-11 my-auto pr-2">
            <div class="custom-file" id="passport4" >
              <input type="file" class="custom-file-input" id="customFile" (change)="handleUpload($event, 'passportChild2', 3)">
              <label class="w-100 text-center text-lg-left" class="custom-file-label" for="customFile">Choose file</label>
            </div>
          </div>
          <div  (click)="openInformationDialog()" class="curs-pointer question_icon col-1 my-auto">
            <i class="far fa-question-circle"></i>
          </div>
        </div>
      </div>
      <div class="mt-4 row px-0">
        <div class="col-6 pr-0 pr-1 ">
          <button class="w-100 btn btn-secondary" cdkStepperPrevious>Back</button>
        </div>
        <div class="col-6 pl-0 pl-1 ">
          <button class="w-100 btn btn-primary" [disabled]="formErrorHandler" (click)="check()" cdkStepperNext>Next</button>
        </div>
      </div>
  </form>
</div>
