<div class="container">
  <form [formGroup]="stepTwoForm"
        #formRef="ngForm">
      <div  formArrayName="orders" *ngFor="let item of f.controls; let i = index">
        <div class="form-group" >
          <div class="row no-gutters" [formGroupName]="i">
            <div class="col-8 pr-2">
              <p class="mb-0">{{ orderItems[i].name }}</p>
              <p class="mb-1 sub-text">{{ orderItems[i].description }}</p>
              <img [src]="orderItems[i].image" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
            </div>
            <div class="col-4 pl-2 my-auto text-center">
              <p class="mb-0 mt-5">${{orderItems[i].price}}</p>
              <p class="mb-2">{{orderItems[i].type}}</p>
              <button class="btn w-100" (click)="setItem(item)" [ngClass]="item.value.quantity === 0 ? 'btn-primary': 'btn-danger'">{{ item.value.quantity !== 0 ? 'Remove' : 'Add'}}</button>
            </div>
          </div>
        </div>
      </div>
  </form>
</div>

<div class="mt-4 row px-0">
  <div class="col-6 pr-0 pr-1 ">
    <button class="w-100 btn btn-secondary" cdkStepperPrevious>Back</button>
  </div>
  <div class="col-6 pl-0 pl-1 ">
    <button class="w-100 btn btn-primary" [disabled]="formErrorHandler" cdkStepperNext>Next</button>
  </div>
</div>
